body{background-image: url(color1.jpg);
    background-size: 1380px 680px;
	background-repeat:no-repeat;
	border-radius:25px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border: 18px solid transparent;
    border-image: url(back9.jpg) 30 stretch;}

img{
	border-radius:25px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border: 18px solid transparent;
    border-image: url(back9.jpg) 30 stretch;

}

h1{font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: white;
    font-size: 30px;}

.vertical{ width: 200px;
		   position: fixed; top:80px; right: 70px;
		   border-radius:25px;
	       box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
           border: 18px solid transparent;
           border-image: url(back9.jpg) 30 stretch;
           }

.vertical a{ background-color: #eee;
			 color: black;
			 display: block;
			 padding: 10px;
			 text-decoration: none;
			 font-family: 'Righteous', cursive;
			 font-size: 35px;
			 text-align: center;
			 
}

.vertical a:hover{ background-color: #ccc;}

.vertical a.home{ background-color:#F08080 ;
   				    color: white;}